---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Section from "@/components/Section.astro";
import Projects from "@/sections/Projects.astro";
import CodeIcon from "@/icons/CodeIcon.astro";
import UserIcon from "@/icons/UserIcon.astro";
import AboutMe from "@/sections/AboutMe.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  title="CrashLanXD - Desarrollador Frontend | Porfolio"
  description="Bienvenido al porfolio de CrashLanXD (CLXD), un desarrollador frontend apasionado por crear interfaces web modernas y eficientes. Descubre mis proyectos, habilidades y experiencias en el mundo del desarrollo web."
>
  <Header />
  <main class="">
    <Hero />

    <Section class="my-28" id="projects">
      <span class="gap-x-4" slot="title"><CodeIcon class="size-16 text-[--secondary-600]" />Proyectos</span>
      <Projects />
    </Section>

    <Section class="my-28" id="about">
      <span class="gap-x-4" slot="title"><UserIcon class="size-16 text-[--secondary-600]" />Sobre mí</span>
      <AboutMe />
    </Section>
  </main>
  <Footer />
</Layout>
