---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import UserIcon from "../components/icons/UserIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Porfolio de CrashLanXD - Desarrollador fullstack"
  description="Hola!, soy CrashLanXD ;)"
>
  <Header />
  <main class="">
    <Hero />

    <Section class="section" id="projects">
      <span  slot="title"><CodeIcon class="size-16" />Proyectos</span>
      <Projects />
    </Section>

    <Section class="section mt-24" id="about">
      <span slot="title"><UserIcon class="size-16" />Sobre mí</span>
      <AboutMe />
    </Section>
  </main>
  <Footer />
</Layout>
