---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Porfolio de CrashLanXD - Desarollador fullstack"
  description="Hola!, spy CrashLanXD ;)"
>
  <main>
		<Hero/>
  </main>
</Layout>

<style>
  html {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Ubuntu,
      sans-serif;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
