---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import UserIcon from "../components/icons/UserIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Porfolio de CrashLanXD - Desarrollador fullstack"
  description="Hola!, soy CrashLanXD ;)"
>
  <Header />
  <main class="">
    <Hero />

    <Section class="my-28" id="projects">
      <span class="gap-x-4" slot="title"><CodeIcon class="size-16 text-[--secondary-600]" />Proyectos</span>
      <Projects />
    </Section>

    <Section class="my-28" id="about">
      <span class="gap-x-4" slot="title"><UserIcon class="size-16 text-[--secondary-600]" />Sobre mí</span>
      <AboutMe />
    </Section>
  </main>
  <Footer />
</Layout>
