---
import Clock from "./Clock.astro";
import XIcon from "./icons/XIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import JSIcon from "./icons/JSIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import { Image } from "astro:assets";

const personalImageAlt = "Aquí voy yo!";
const age = 17;
---

<div
  class="grid grid-cols-2 md:grid-cols-4 gap-4 text-xl [&>div]:bg-[--background] [&>div]:rounded-xl [&>div]:px-7 [&>div]:p-5"
>
  <div class="col-span-2 md:col-span-3 row-start-1 flex flex-col">
    <h3
      class="text-2xl [&>strong]:text-[--secondary-600] [&>strong]:font-semibold py-3"
    >
      Soy <strong>Eduardo Sanchez.</strong>
    </h3>
    <p class="text-pretty">
      Un desarrollador de software que disfruta los desafíos. Me encanta crear
      problemas y encontrar soluciones. Los algoritmos y la lógica detrás de
      cómo funcionan las computadoras siempre han sido de gran interés para mí.
    </p>
  </div>
  <div class="col-span-2 md:col-span-1 md:row-start-1 flex justify-center">
    <Image
      src="/images/clxd_duo_happy.webp"
      alt={personalImageAlt}
      width={224}
      height={224}
      loading="eager"
      class="object-cover object-top size-36 md:size-56 aspect-square rounded-xl"
    />
  </div>
  <div
    class="row-start-5 md:row-start-2 flex flex-col justify-center items-center text-center text-4xl font-semibold"
  >
    <span>{age}</span>
    <span>Años</span>
  </div>

  <div class="col-span-2 md:col-start-2 flex flex-col justify-center">
    <h3>Zona Horaria</h3>
    <div class="flex flex-col">
      <Clock />
    </div>
  </div>

  <div class="row-start-5 md:col-start-4 md:row-start-2 flex flex-col justify-center items-center text-center text-4xl">
    <a
      target="_blank"
      rel="noopener noreferrer"
      title="@CrashLanXD"
      aria-label="@CrashLanXD"
      href="https://x.com/crashlanxd"
      class="hover:text-[--primary-400] transition-colors size-full flex justify-center items-center"
    >
      <XIcon class="size-20" />
    </a>
  </div>

  <div class="col-span-2 row-start-6 md:row-start-3">
    <p class="text-pretty">
      Lo que me motiva es la posibilidad de ser cada vez mejor. La idea de estar en
      constante aprendizaje y de poder crear cosas asombrosas a partir de conceptos
      simples me impulsa a seguir adelante.
    </p>
  </div>

  <div class="col-span-2 row-start-3 flex flex-col justify-center gap-y-3">
    <h3>Tech Stack</h3>
    <div class="flex justify-evenly [&>svg]:size-10 [&>svg]:md:size-11 [&>svg]:xl:size-16">
      <HTMLIcon/>
      <CSSIcon/>
      <JSIcon/>
      <AstroIcon class="text-[--text]"/>
      <ReactIcon/>
      <TailwindIcon/>
      <JavaIcon/>
    </div>
  </div>
</div>
