---
const personalImageAlt = "Aqui voy yo!";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Eduardo Sánchez</strong>. Empecé en la programación
      cuando tenía 15 años. Actualmente tengo 16 años...
    </p>

    <p>
      Estudié Programación y. Desde entonces disfruto creando <strong
        >soluciones web</strong
      >
      para los usuarios y algoritmos.
    </p>

    <p>
      Me encanta <strong>crear soluciones</strong>. Adicto a los desafíos.
    </p>

    <p>Cuento con bastante experiencia. Aunque no he trabajado aún en ningún sitio :D</p>

    <p>Pro Programmer.</p>
  </div>

  <!-- <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-md bg-green-900/20 dark:bg-green-500/5 ring-1 ring-green-800/70 dark:ring-green-300/20"
    style="object-position: 50% 50%"
  /> -->
</article>