---
const currentYear = new Date().getFullYear();
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<footer class="text-[--text-800] body-font bg-[--background-100]">
  <div class="py-2">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-sm text-center sm:text-left">© {currentYear} CLXD — Algunos derechos reservados</p>
      <span class="inline-flex gap-3 sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a
          aria-label="visita mi X @crashlanxd"
          title="@crashlanxd"
          href="https://x.com/crashlanxd"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-[--accent-500] transition-colors"
        >
          <XIcon class="size-5" />
        </a>
        <a
          aria-label="visita mi GitHub"
          title="GitHub"
          href="https://github.com/CrashLanXD"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-[--accent-500] transition-colors"
        >
          <GitHubIcon class="size-5" />
        </a>
        <a
          aria-label="visita mi LinkedIn"
          title="LinkedIn"
          href="https://www.linkedin.com/in/clxd"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-[--accent-500] transition-colors"
        >
          <LinkedInIcon class="size-5" />
        </a>
      </span>
    </div>
  </div>
</footer>
