---
import CLXD from "./icons/clxd.astro";
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-4 bg-[#121212e2]"
>
  <nav class="flex w-96 items-center justify-between">
    <a class="" href="/#proyects">Proyectos</a>
    <a href="/#home"><CLXD class="size-14" /></a>
    <a href="/#experience">Experiencia</a>
  </nav>
</header>