---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
---

<div>
  <div class="flex items-center mb-4 w-full">
    <h1
      class="text-5xl font-bold tracking-tight text-[#121212] dark:text-white mr-auto ml-7 flex flex-col"
    >
      ¡Hey!, soy
      <strong
        class="bg-gradient-to-r from-[#0ed145] to-[#56b277] text-transparent bg-clip-text inline-block text-6xl"
        >Eduardo Sanchez</strong
      >
    </h1>
  </div>
  <span class="flex">
    <h2 class="ml-7 mr-auto mb-2 text-3xl text-black dark:text-white opacity-50 font-semibold">
      <strong>Fullstack Developer</strong>
    </h2>
    <nav class="flex flex-wrap gap-4 mr-9">
      <SocialPill href="https://github.com/CrashLanXD">
        <GitHubIcon class="size-7 text-neutral-800 dark:text-neutral-300" />
      </SocialPill>
      <SocialPill href="mailto:crashlanxd@gmail.com">
        <MailIcon class="size-7 text-neutral-800 dark:text-neutral-300" />
      </SocialPill>
    </nav>
  </span>
  <!-- <div
    class="border w-fit -top-[200px] left-[44%] md:-top-[230px] md:left-[55%] flex items-center relative -z-10"
  >
    <img
      class="rounded-full size-56 mr-4"
      src="https://avatars.githubusercontent.com/u/133317864"
      alt="CLXD"
      style="float: left;"
    />
  </div> -->
</div>
