---

---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-32"
      src="https://avatars.githubusercontent.com/u/133317864"
      alt="CLXD"
    />
  </div>

  <h1 class="text-4xl font-bold tracking-tight text-gray-800 dark:text-white">Hello, I'm CrashLanXD!</h1>

</div>
