---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="flex px-4 text-lg min-w-fit w-1 z-20 gap-2 items-center justify-center hover:ring-[1px] ring-[--primary-400] p-2 rounded-xl bg-[--background] hover:bg-[--background-200] transition-colors"
>
  <slot />
</a>
